* {
	margin: 0;
	list-style: none;
}

header {
	width: auto;
	background-color:  #49d0d0;
 	border-bottom: black 4px solid;
 	height: auto;
 	color: #eff8f9;
 	text-align: right;
 	font-family: 'Work Sans', sans-serif;
}
header ul {
	font-size: 18px;
	display: flex;

}
header li {
	display: inline;
	padding-right: 10px;
}


header a {
	text-decoration: none;
	color: white;

}

header a:hover {
	color: black;
}

.main {
	text-align: center;
	width: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h2 {
	text-decoration: underline;
	font-size: 35px;
}

img {
	height: 400px;
	width: auto;
}
h3 {
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.products {
	text-align: center;
}
.ordersec {
	margin-left: 350px;
}

.coloropt {
	float: left;
	width: 290px;
}

.pro,
.main {
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;

}

.profpic {
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: block;
	width: 350px;
	height: 350px;
}

.lei {
	display: inline;
}

.ordersec {
	margin-right: 220px;
	text-align: center;
}

.orderformlink {
	text-align: center;
	margin-left: 30px;
}

.survey {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 470px;
	height: 300px;
	text-align: center;

}

.quest {
	width: 250px;
	height: 100px;
}

.form {
	width: 250px;
}

.comment {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

.fa {
	color:#3B5998;
}

.fa a:hover {
	color: black;
}
;