* {
	margin: 0;
	list-style: none;
}
header {
	width: auto;
	background-color:  #49d0d0;
 	border-bottom: black 4px solid;
 	height: auto;
 	color: #eff8f9;
 	text-align: right;
 	font-family: 'Work Sans', sans-serif;
}
header ul {
	font-size: 18px;
	display: flex;

}
header li {
	display: inline;
	padding-right: 10px;
}


header a {
	text-decoration: none;
	color: white;
}

.main {
	text-align: center;
	width: auto;
}

body {
	font-family: arial;
}

h2 {
	text-decoration: underline;
}

img {
	height: 400px;
	width: auto;
}
.ordersec {
	margin-left: 350px;
}

.coloropt {
	float: left;
	width: 290px;
}

.